/* BEGIN Asktable */

div.Asktable {
    width: 50rem;
    display: flex;
    flex-direction: row;
    height: 20rem;
    align-self: center;
}


div.Asktable > div.Ask {
    display: flex;
    flex-direction: column;
    border: 0.075rem solid rgba(0,0,0,.15);
    width: 100%;
    border-radius: 1rem;
    margin: .5rem;
    transition-duration: 357ms;
    justify-content: center;
    align-items: center;
}

div.Asktable > div.Ask.active {
    transition-duration: 357ms;
    border: 0.075rem solid rgba(0,0,0,.54)
}

div.Asktable > div.Ask > div.Socket {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    border: 0.075rem solid rgba(0,0,0,.15);
    box-sizing: border-box;
    border-radius: 10rem;
}

div.Asktable > div.Ask.active > div.Socket {
    border: 0.075rem solid rgba(0,0,0,.54);
}

/* END Asktable */

/* BEGIN Askstatus */

div.Askstatus {
    width: 50rem;
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-self: center;
    
}


div.Askstatus > div.Ask {
    display: flex;
    flex-direction: row;
    border: 0.075rem solid rgba(0,0,0,.15);
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
    margin: .5rem;
    transition-duration: 357ms;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    
}

div.Askstatus > div.Ask.active {
    transition-duration: 357ms;
    border: 0.075rem solid rgba(0,0,0,.54);

}

div.Askstatus > div.Ask > div.Socket {
    height: 1.4rem;
    max-width: 1.4rem;
    border: 0.075rem solid rgba(0,0,0,.15);
    box-sizing: border-box;
    border-radius: 10rem;
    flex-grow: 1;
    flex-basis: 50%;
    
}

div.Askstatus > div.Ask.active > div.Socket {
    border: 0.075rem solid rgba(0,0,0,.54);
}

/* END Askstatus */