.Socket.red {
    background-color: red;
    transition-duration: 357ms;
}

.Socket.blue {
    background-color: blue;
    transition-duration: 357ms;
}

.Socket.yellow {
    background-color: yellow;
    transition-duration: 357ms;
}

.Socket.green {
    background-color: green;
    transition-duration: 357ms;
}

.Socket.black {
    background-color: black;
    transition-duration: 357ms;
}

.Socket.white {
    background-color: white;
    transition-duration: 357ms;
}

